server:
  port: 5000

spring:
  application:
    name: mock-envent-publisher
  kafka:
    properties:
      schema:
        registry:
          url: http://localhost:8081
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
